* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	font-family: 'Exo 2', sans-serif;
	&:focus {
		outline: none;
	}
}

html, body {
	height: 100%;
	overflow-x: hidden;
	background-image: linear-gradient(135deg, #01337D, #47A3F3);
}

body {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

#totalContent {
	flex: 1 0 auto;
}

header#top {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 20px;

	a {
		font-size: 18px;
		color: #E4E7EB;

		&:hover {
			text-decoration: underline;
		}

	}

}

a {
	text-decoration: none;

	&[href]:not(.button):not(.icon) {
		color: #07818F;

		&:hover {
			text-decoration: underline;
		}

	}

	&.icon {

		margin-right: 20px;
		transition: 100ms all;

		&:hover {

			img {
				opacity: 1;
			}

		}

		img {
			height: 30px;
			width: auto;
			opacity: .85;
		}

	}

}

a, select, button, label, input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

input, textarea {
	cursor: text;
}

section {

	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding-top: 50px;

	h1, p {
		margin-bottom: 20px;
		color: #E4E7EB;
		text-align: center;
		max-width: 800px;
		width: 95%;
	}

	h1 {
		font-size: 40px;
	}

	p {
		font-size: 18px;
		line-height: 30px;
	}

}

#codeBlockContainer {
	display: none;
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 95%;
	max-width: 800px;

	.icon {
		height: 40px;
		width: 40px;
		border-radius: 4px;
		background-color: rgba(50, 63, 75, .8);
		margin-right: 10px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 26px;
		border: 1px solid #1F2933;
		transition: 100ms all;

		&:active {
			background-color: rgba(50, 63, 75, 1);
		}

		&.clipboard {
			background-image: url(/assets/clipboard.svg);
		}

		&.reset {
			background-image: url(/assets/reset.svg);
		}

	}

	.button-container {
		margin-top: 20px;
		display: flex;
	}

}

pre {
	border-radius: 4px;
	margin-top: 20px;
	max-width: 800px;
	width: 95%;
	padding-right: 20px !important;
	cursor: text;
	overflow-x: scroll;
	background-color: #323F4B;
	padding: 20px;

	code {
		color: #E4E7EB;
		text-indent: 0px;
	}

}

code:not(#finalCode) {
	background-color: #323F4B;
	padding: 2px;
	border-radius: 4px;
	cursor: text;
}

label {
	font-size: 16px;
	display: flex;
	flex-flow: column nowrap;
	color: #E4E7EB;
	width: 95%;
	max-width: 400px;

	input {
		margin-top: 3px;
		width: 100%;
	}

}

input {
	max-width: 400px;
	width: 95%;
	font-size: 14px;
	color: #1F2933;
	background-color: #F5F7FA;
	border-radius: 4px;
	text-indent: 15px;
	height: 45px;
}

label + button {
	height: 45px;
	border-radius: 4px;
	width: 95%;
	max-width: 400px;
	background-color: #F9703E;
	font-size: 16px;
	text-transform: uppercase;
	color: #F5F7FA;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0px;
	background-image: url(/assets/white-load-dots.svg);

	&.loading {
		background-size: 35px;
		color: transparent;
	}

}

.error {
	margin-top: 20px;
	color: #FFBDBD;
	&:empty {
		display: none;
	}
}

footer {

	width: 100%;
	flex-shrink: 0;
	height: 100px;
	display: flex;
	align-items: center;

	p {
		width: 100%;
		text-align: center;
		color: #E4E7EB;
	}

}

@import 'modal';

