* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	font-family: 'Exo 2', sans-serif;
	&:focus {
		outline: none;
	}
}

html, body {
	height: 100%;
	overflow-x: hidden;
	background-image: linear-gradient(135deg, #01337D, #47A3F3);
}

a {
	text-decoration: none;
}

a, select, button, label, input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

input, textarea {
	cursor: text;
}

section {

	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding-top: 50px;

	h1, p {
		margin-bottom: 20px;
		color: #E4E7EB;
		text-align: center;
		max-width: 800px;
		width: 95%;
	}

	h1 {
		font-size: 40px;
	}

	p {
		font-size: 18px;
		line-height: 30px;
	}

}

#codeBlockContainer {
	display: none;
	flex-flow: column nowrap;
	align-items: flex-start;

	.icon {
		height: 40px;
		width: 40px;
		border-radius: 4px;
		background-color: #323F4B;
		margin-right: 10px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 26px;

		&.clipboard {
			background-image: url(/assets/clipboard.svg);
		}

		&.reset {
			background-image: url(/assets/reset.svg);
		}

	}

	.button-container {
		display: flex;
	}

}

pre {
	border-radius: 4px;
	margin-top: 50px;
	max-width: 800px;
	width: 95%;
	margin-bottom: 30px;
	padding-top: 30px !important;
	padding-right: 20px !important;

	code {
		padding-left: 20px !important;
		padding-right: 20px !important;
		padding-bottom: 20px !important;
	}

}

code:not(#finalCode) {
	background-color: #616E7C;
	padding: 2px;
	border-radius: 4px;
}

label {
	font-size: 16px;
	display: flex;
	flex-flow: column nowrap;
	color: #E4E7EB;
	width: 95%;
	max-width: 400px;

	input {
		margin-top: 3px;
		width: 100%;
	}

}

input {
	max-width: 400px;
	width: 95%;
	font-size: 14px;
	color: #1F2933;
	background-color: #F5F7FA;
	border-radius: 4px;
	text-indent: 15px;
	height: 45px;
}

button {
	height: 45px;
	border-radius: 4px;
	width: 95%;
	max-width: 400px;
	background-color: #F9703E;
	font-size: 16px;
	text-transform: uppercase;
	color: #F5F7FA;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0px;
	background-image: url(/assets/white-load-dots.svg);

	&.loading {
		background-size: 35px;
		color: transparent;
	}

}

.error {
	margin-top: 20px;
	color: #FFBDBD;
	&:empty {
		display: none;
	}
}
